option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_USE_PRODUCTION: false
    MONGODB_URI: placeholder_uri
    SESSION_SECRET: placeholder_secret
    GOOGLE_API_KEY: placeholder_key
    DISCOGS_KEY: placeholder_key
    DISCOGS_SECRET: placeholder_secret
